* {
    margin: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    background: rgb(249, 243, 243);
    
}

nav {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 20px;
}



.logo {
    width: 100px;
}

nav a {
    color: grey;
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: 5px;
    margin: 8px;
}

.navp1 {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
}

.navp2 {
    display: flex;
    justify-content: space-between;
    width: 11%;
}



header {
    background-image: url("./assets/header.jpeg");
    height: 770px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.headerText {
    color: white;
    font-size: 50px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn1 {
    background: white;
    width: 130px;
    aspect-ratio: 2/1;
}

.btn2 {
    aspect-ratio: 3/1;
    background: none;
    color: white;
    width: 190px;
}

main{
    background-image: url("./assets//main2.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    height: 150vh;
    padding-left: 50px;
    padding-top: 100px;
}

.card{
    background: white;
    aspect-ratio: 2/1;
    width: 600px;
    padding: 50px;
}

.btn4{
    border: none;
    height: 50px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    
}

.bodySize{
    width:100%;
    margin: auto;
    background: white;

}
.label{
    font-size: 60px;
    
}
hr{
    width: 100%;
    height: .1px;
    color: rgb(50, 49, 49);
}

nav a:hover{
 color: rgb(85, 82, 82);
}